<!-- ===================== Node Context Menu ===================== -->
<ul id="clicNodeMenu" class="hidden">
    <li id="open-table">🔍 Table details</li>
    <li id="open-trigger">⚡ Triggers</li>
   <li class="separator"></li>
    <li class="arrows">
        <img id="arrowLeft" src="/img/arrowLeft.png" title="Follow outgoing (descendant)">
        <img id="arrowMiddle" src="/img/arrowMiddle.png" title="Follow both directions">
        <img id="arrowRight" src="/img/arrowRight.png" title="Follow incoming (ancestor)">
    </li>

    <li class="trees">
        <img id="treeLeft" src="/img/treeLeft.png" title="Follow outgoing tree (descendants)">
        <img id="treeMiddle" src="/img/treeMiddle.png" title="Follow both directions trees">
        <img id="treeRight" src="/img/treeRight.png" title="Follow incoming tree (ancestors)">
    </li>
</ul>

<!-- ===================== Edge Context Menu ===================== -->
<ul id="clicEdgeMenu" class="hidden">
    <li id="toggleEdgeDetails">
        <img src="/img/toggle.png" alt="toggle details"> 1/FK - 1/Col
    </li>
    <li id="toggleEdgeLabel">
        <img src="/img/toggle.png" alt="toggle label"> Label
    </li>
</ul>
<!-- 
quick access menu 
size in menu.css #quickAccessMenu img { 
-->


<div id="quickAccessMenu">
    <div id="someSelect" style="display:inline-flex;align-items:center;gap:8px; font-size:12px;">

          <span class="qa-label">select:</span>
        <img src="/img/select/noneSelected.png"  id="quick_icon-selectNone" title="none">
        <img src="/img/select/selectAllBright.png" id="quick_icon-selectAll" title="all">
        <img src="/img/select/halfSelected.png"  id="quick_icon-selectSwap" title="swap selected">
    </div>
    <br />

    <div id="someHide" style="display:inline-flex;align-items:center;gap:8px; font-size:12px;">
          <span class="qa-label">keep:</span>
        <img src="/img/select/hideSelected.png"  id="quick_icon-hideSelected" title="keep not selected (hide others)">
        <img src="/img/select/hideNotSelected.png"  id="quick_icon-hideNotSelected" title="keep selected (hide others)">
        <img src="/img/select/hideSwap1.png"  id="quick_icon-swapHidden" title="swap visible and hidden">
        <img src="/img/select/halfSelected.png" id="quick_icon-showAll" title="show all nodes">
    </div>
</div>

<div id="waitLoading" style="display: none">⏳ Loading graph...</div>