# Node
node_modules/
npm-debug.log*
.env

# OS mac
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Logs
logs
*.log

# optional specfic categories not to be saved
 
public/custom/*.js


custom



# save dir for results 
saved-graphs
