<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/topbar') %>
    <div id="cy"></div>
    <%- include('partials/modals') %>
      <%- include('partials/context-menus') %>
        <!-- ===================== MAIN SCRIPT ===================== -->
        <script type="module" src="/js/main.js"></script>
</body>

<!-- Zone info -->
<div id="info-panel" class="info-panel">
  <div id="nodeDetails"></div>
</div>

</html>