  body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 1rem;
  }

  #headerBar h1 {
    margin: 0;
    /* supprime marge par défaut */
  }



  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 1rem;
  }

  th,
  td {
    color: black;
    border: 1px solid #ddd;
    background-color: #ffffff;
    padding: 0.5rem;
  }

  th {
    background-color: #dfdddd;
    text-align: left;
    color: black;
  }

  .fkContainer {
    margin-top: 1rem;
  }

  .pk-title {
    font-weight: bold;
    margin-top: 10px;
  }

  .fk-title {
    font-weight: bold;
    margin-top: 1px;
    white-space: normal;
    /* pas de nowrap */
    overflow-wrap: anywhere;
    /* casse où nécessaire */
    word-break: break-word;
    /* sécurité pour très longs identifiants */
    max-width: 100%;
  }

.fk-block,
.pk-block {
  margin-bottom: 1.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1em;
  background-color: #f9f9f9;
}

  .fk-block,
  .pk-block {
    margin-bottom: 1rem;
    display: block;
    /* ou flex, mais avec min-width:0 */
    overflow: visible;
    /* important si un parent mettait hidden */
  }


  #tableInfo {
    display: inline-flex;
    /* shrink-to-content */
    justify-content: flex-start;
    /* pas d'étirement de l'espace */
    gap: 1em;
    flex-wrap: wrap;
    width: fit-content;
    /* optionnel, renforce le shrink */
    max-width: 100%;
    /* ne dépasse pas l'écran */
  }

  #tableInfo h2 {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }

  .third {
    flex: 0 0 auto;
    /* largeur = contenu, pas d'étirement */
    min-width: 300px;
  }

  .index-block,
  .pk-block,
  .fk-block {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 6px;
  }

  .index-title,
  .fk-title,
  .pk-title {
    font-weight: bold; 
    font-size: 14px;
    /* color:red; */
    margin-bottom: 0.3em;
  }

.testColor{ color:rgb(32, 125, 125)}