<!-- Menu: Database -->
<div data-menu-id="menu-db">
  <div class="menu-wrapper">
    <span class="menu-trigger">DB</span>
    <ul class="menu">
      <li action="loadFromDb">
        <span class="label">Create graph from DB</span>
      </li>
      <li class="separator"></li>
      <li action="connectToDb">
        <span class="label" style="font-style: italic;">Connect to DB only</span>
        <span class="comment-icon" title="Connect a DB to be uses with a saved JSON graph"></span>
      </li>
    </ul>

    <!-- Prompt DB -->
    <div class="db-box-container"></div>
  </div>
</div>