<!-- Menu: Display -->
<div data-menu-id="menu-display">
  <div class="menu-wrapper">
    <span class="menu-trigger">Display</span>
    <ul class="menu">
      <li data-category="fit">Fit screen ...
        <ul class="submenu">
          <li aspectAction="fitScreen">All</li>
          <li aspectAction="fitSelected">Selected</li>
        </ul>
      </li>

      <li data-category="layout">Layout ...
        <ul class="submenu">
          <li aspectAction="cose-bilkent">Cose-bilkent</li>
          <li aspectAction="cose">Cose</li>
          <li aspectAction="grid">Grid</li>
          <li aspectAction="circle">Circle</li>
          <li aspectAction="concentric">Concentric</li>
          <li aspectAction="breadthfirst">Breadthfirst</li>
          <li aspectAction="dagre">Dagre</li>
        </ul>
      </li>
      <li data-category="layout">Reorganize...
        <ul class="submenu">
          <li data-category="aspect">Resize ...
            <ul class="submenu">
              <li>horizontally
                <ul class="submenu">
                  <li aspectAction="H+">Wider</li>
                  <li aspectAction="H-">Narrower</li>
                </ul>
              </li>
              <li>globally
                <ul class="submenu">
                  <li aspectAction="B+">Bigger</li>
                  <li aspectAction="B-">Smaller</li>
                </ul>
              </li>
              <li>vertically
                <ul class="submenu">
                  <li aspectAction="V+">Taller</li>
                  <li aspectAction="V-">Shorter</li>
                </ul>
              </li>

            </ul>
          </li>
          <li data-category="align">Align ...
            <ul class="submenu">
              <li aspectAction="alignH">Horizontally</li>
              <li aspectAction="alignV">Vertically</li>
            </ul>
          </li>
          <li data-category="distribute">Distribute ...
            <ul class="submenu">
              <li aspectAction="distH">Horizontally</li>
              <li aspectAction="distV">Vertically</li>
            </ul>
          </li>
          <li data-category="rotate">Rotate ...
            <ul class="submenu">
              <li aspectAction="rotateL">Left</li>
              <li aspectAction="rotateR">Right</li>
              <li aspectAction="rotate90">90°</li>
              <li aspectAction="rotate180">180°</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="separator"></li>
      <li data-category="label">Table labels
        <ul class="submenu">
          <li aspectAction="labelAlias">Custom alias</li>
          <li aspectAction="labelId">Table name</li>
          <li aspectAction="labelNodeHide">Hide</li>
        </ul>
      </li>

      <li data-category="tableFont">Table font
        <ul class="submenu">
          <li aspectAction="increase-font">Enlarge</li>
          <li aspectAction="decrease-font">Reduce</li>
          <li aspectAction="restore-font">Restore</li>
        </ul>
      </li>

      <li data-category="shape">Table shape
        <ul class="submenu">
          <li aspectAction="noProportionalSize">Standard</li>
          <li aspectAction="proportionalSize">Proportional</li>
        </ul>
      </li>
      <li class="separator"></li>
      <li data-category="label">Relation labels ...
        <ul class="submenu">
          <li aspectAction="labelShow">Relation name</li>
          <li aspectAction="labelHide">Hide</li>
          <li class="separator"></li>
        </ul>
      </li>
      <li data-category="relationsFont">Relation font
        <ul class="submenu">
          <li aspectAction="increase-font-edge">Enlarge</li>
          <li aspectAction="decrease-font-edge">Reduce</li>
          <li aspectAction="restore-font-edge">Restore</li>
        </ul>
      </li>
    </ul>
  </div>
</div>