<!-- Menu: Files -->
<div data-menu-id="menu-graph">
  <div class="menu-wrapper">
    <span class="menu-trigger">Files</span>
    <ul class="menu">
      <li action="localDownload">Download</li>
      <li action="localUpload">
        Upload
        <span class="comment-icon" title="Connect to a DB before uploading a JSON graph"></span>
      </li>
    </ul>
  </div>

  <input type="text" id="graphName" placeholder="Graph name" title="Name your graph file" />
  <input type="file" id="graphUpload" accept=".json" style="display:none" />


</div>
