<!-- Menu: Model -->
<div data-menu-id="menu-model">
  <div class="menu-wrapper">
    <span class="menu-trigger">Model</span>
    <ul class="menu">



      <li data-category="filterEdges">Filter FK ...
        <ul class="submenu">
          <li action="edgeIsNullable">Nullable</li>
          <li action="edgeIsOnDeleteCascade">On delete cascade</li>
          <li action="edgeIsTriggerGenerated">Trigger impact</li>
          <li action="edgeIsASimplifiedNode">Simplified associations</li>
        </ul>
      </li>

      <li data-category="model">DB layout ...
        <ul class="submenu">
          <li action="dependencies">By dependencies</li>
          <li action="dependenciesPerCustomCategory">By custom categories</li>
          <li action="ownerShipLayout">Ownership layout</li>
        </ul>
      </li>
           
          <li action="findLongOutgoingPaths" title="Find nodes reachable by long forward paths (more than 2 hops)">
            long paths
          </li>
    </ul>
  </div>
</div>
