<!-- Menu: Model -->
<div data-menu-id="menu-model">
  <div class="menu-wrapper">
    <span class="menu-trigger">Model</span>
    <ul class="menu">

      <li data-category="model">Reorganize ...
        <ul class="submenu">
          <li action="dependencies">by Dependencies</li>
          <li action="dependenciesPerCustomCategory">By Depencies and custom categories</li>
        </ul>
      </li>
      <li data-category="model">Propagations ...
        <ul class="submenu">
          <li action="ownerShipPerimeterMandatory">Ownership layout mandatory</li>
          <li action="findLongPathsOutgoing" title="Find nodes reachable by long forward paths (more than 2 hops)">
            Search long paths starting from selected
          </li>
          <li action="findPkFkChains" title="Show chains of primary key to foreign key relations">
            Find chains of PK-FK from leaf (table without FK)
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>