<!-- Menu: Model -->
<div data-menu-id="menu-model">
  <div class="menu-wrapper">
    <span class="menu-trigger">Model</span>
    <ul class="menu">

      <li data-category="model">Triggers ...
        <ul class="submenu">
          <li action="generateTriggers">Generate impacts</li>
          <li action="removeTriggers">Remove impacts</li>
        </ul>
      </li>

      <li data-category="model">Associations ...
        <ul class="submenu">
          <li action="f">Simplify</li>
          <li action="restoreAssociations">Restore</li>
        </ul>
      </li>

      <li data-category="filterEdges">Filter FK ...
        <ul class="submenu">
          <li action="edgeIsNullable">Nullable</li>
          <li action="edgeIsOnDeleteCascade">On delete cascade</li>
          <li action="edgeIsTriggerGenerated">Trigger impact</li>
          <li action="edgeIsASimplifiedNode">Simplified associations</li>
        </ul>
      </li>

      <li data-category="model">DB layout ...
        <ul class="submenu">
          <li action="dependencies">By dependencies</li>
          <li action="dependenciesPerCustomCategory">By custom categories</li>
          <li action="ownerShipLayout">Ownership layout</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
